.detail_main {
    width: 100%;
    min-height: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .detail_main_box {
        width: 716px;
        display: flex;
        flex-direction: column;

        .detail_tab {
            width: 100%;
            height: 60px;
            font-size: 30px;
            line-height: 60px;
            margin-bottom: 12px;
            color: #333;
            display: flex;
            flex-direction: row;

            .detail_tab_title {
                flex: 1;
                text-align: center;
            }

            .activate {
                color: #00D8A0;
                border-bottom: 1px solid #00D8A0;
            }
        }
    }
}