.community_locate_index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

.locate_part_1 {
    width: 690px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;

    .industry {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #333;
        margin-left: 32px;
        margin-bottom: 1px;
        position: relative;
        background-color: #fff;
        padding: 24px 0;

        .industry_label{
            width: 172px;
            margin-right: 16px;
            font-size: 32px;
            line-height: 1.5;
            text-align: left;
            vertical-align: middle;
        }

        .industry_value{
            flex-grow: 1;
            display: flex;
            flex-direction: row;

            .industry_value_item {
                flex: 1;
            }
        }
    }
}