.mall_list {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    // margin-bottom: 20px;

    .tabs_box {
        width: 100%;
        height: 80px;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 19;
        margin-top: 20px;

        .scroll_tabs {
            width: 100%;
            white-space: nowrap;
            background-color: #f2f2f2;

            .item_tag {
                width: 176px;
                height: 80px;
                display: inline-block;
            }

            .tag {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                clear: #333;
                font-weight: 400;
            }

            .tag_select {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                clear: #333;
                font-weight: 600;
            }

            .tag_slide {
                width: 100px;
                height: 12px;
                background-image: linear-gradient(90deg, red, rgb(255, 174, 0)); 
            }
        }
    }

    .goods_list {
        margin: 20px 15px 0 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}