.home_publish_index {
    width: 750px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 32px;
    // background-color: #fff;
}

.title {
    width: 100%;
    font-size: 26px;
    line-height: 66px;
    font-weight: 600;
}

.content {
    width: 100%;
    background-color: #f2f2f2; // 控制首页发布的活动列表内容的背景颜色
}