.community_detail_index {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    position: relative;
}

.banner_default {
    width: 100%;
    height: 350px;
    background-color: gray;
}

.home_banner_swiper {
    width: 100%;
    height: 350px;
}

.slide_image {
    width: 100%;
    height: 100%;
    // border-radius: 10px;
}

