.community_detail_index {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

.community_pic {
    width: 100%;
    height: 350px;
    background-color: gray;
}

.community_top {
    width: 716px;
    display: flex;
    flex-direction: column;

    .community_box1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .box1_left {
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            color: #333;

            .community_name {
                width: 560px;
                font-size: 30px;
                line-height: 30px;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .community_address {
                width: 560px;
                font-size: 28px;
                line-height: 28px;
                font-weight: 400;
                margin-top: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .box1_right {
            width: 100px;
            height: 100xp;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 12px;
            border-left: 1px solid #666;
        }
    }

    .community_box2 {
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .box2_right {
            font-size: 26px;
            color: #666;
        }
    }
}

.community_detail {
    width: 750px;   // 这里设置100%行不行？
    min-height: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;

    .community_detail_box {
        width: 716px;
        display: flex;
        flex-direction: column;

        .detail_title {
            font-size: 30px;
            line-height: 40px;
            color: #333;
            margin-bottom: 18px;
        }
    }

    
}