.publish_detail_comment {
    width: 690px;

    .title {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-size: 30px;
        line-height: 30px;
        color: #333;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;

        .comment_num {
            font-size: 24px;
            line-height: 24px;
            margin-left: 8px;
        }
    }

    .main {

        .comment_item {
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            
            .item_left {
                width: 75px;
                .avatar {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    background-color: gray;
                }
            }

            .item_right {
                flex-grow: 1;
                margin-left: 20px;

                .right_box1 {
                    width: 100%;
                    height: 75px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 28px;
                    line-height: 28px;
                    color: #333;
                }

                .right_box2 {
                    width: 100%;
                    font-size: 28px;
                    line-height: 28px;
                    color: #333;
                }
            }
        }
    }
}