.order_list_item {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #f2f2f2;

        .header_left {
            margin-left: 16px;

            .title {
                font-size: 28px;
                font-weight: 500;
                line-height: 28px;
                color: #333;
                margin-left: 11px;
            }
        }
    
        .order_id {
            margin-right: 16px;
        }
        
    }

}