.order_list_item {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
        padding: 20px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f2f2f2;

        .header_left {

            .title {
                font-size: 28px;
                font-weight: 500;
                line-height: 28px;
                color: #333;
                margin-left: 11px;
            }
        }
    
        .order_id {
            
        }
    }

    .content {
        padding: 20px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f2f2f2;


    }

    .footer {
        padding: 20px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .btn_pay {
            padding: 10px 20px;
            background-color: #ff0044;
            border-radius: 10px;
            margin-right: 20px;
            font-size: 28px;
            line-height: 28px;
            color: #fff;
        }

        .btn_status {
            padding: 10px 20px;
            border: 1px solid #333;
            border-radius: 10px;
            font-size: 28px;
            line-height: 28px;
            color: #333;
        }
    }

}