.info_publish_index {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.publish_button {
    width: 100%;
    height: 100px;
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    color: #fff;

}