.activity_detail_index {
    width: 100%;
    height: 100vh;
}

.activity_detail_scroll {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: #f2f2f2;

}

.activity_detail_footer {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;

    .footer_left {
        width: 200px;
        height: 100%;
        font-size: 30px;
        line-height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer_right {
        height: 100%;
        flex-grow: 1;
        background-color: #00D8A0;
        text-align: center;
        font-size: 30px;
        line-height: 100px;

        .able {
            width: 100%;
            height: 100%;
        }
        .disable {
            width: 100%;
            height: 100%;
            background-color: #e2e2e2;
        }
    }
}
