.locate_part_5 {
    width: 690px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden; // 解决子元素margin塌陷
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 626px;
    margin-left: 32px;
    margin-top: 20px;
    font-size: 30px;
    line-height: 30px;
    color: #333;
}

.introduction {
    width: 626px;
    height: 250px;
    margin-top: 20px;

}

.divider {
    width: 626px;
    border-bottom: 1px solid #666;
}

.select_pic {
    width: 626px;
    margin-top: 30px;
    margin-bottom: 20px;
}