.home_grid {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: relative;

    .home_grid_bg {
        width: 750px;
        height: 100px;
        background-color: #00D8A0;
        border-radius: 0 0 30% 30%;
    }

    .grid {
        width: 700px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%,0);

        .grid_item {
            height: 120px;
            flex: 1;
            opacity: 0.6;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .grid_item_pic_default {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #ccc;
            }

            .grid_item_pic {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }

            .grid_item_name {
                font-size: 22px;
                line-height: 22px;
                color: #000;
                margin-top: 8px;
            }
        }
    }
}