.detail_content {
    width: 710px;
    // height: 600px;
    margin: 0 auto;
    overflow: hidden;

    .content_top {
        width: 710px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 16px;
    }

    .goods_price {
        height: 80px;
        display: flex;
        flex-direction: column;

        .price_1 {
            font-size: 40px;
            line-height: 40px;
            color: #ff0044;
            font-weight: 600;
        }
        .price_2 {
            font-size: 24px;
            line-height: 24px;
            color: #333;
            margin-top: 16px;
        }
    }

    .goods_detail {
        margin-top: 20px;
        

        .detail_txt {
            font-size: 34px;
            line-height: 42px;
            color: #333;
            font-weight: 600;
            letter-spacing: 5px;
        }

        .detail_img {
            width: 100%;
            margin-top: 30px;

            .detail_img_item {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    
}