.home_banner {
    width: 690px;
    // margin-top: 60px;
    margin: 40px auto 0;

    .bannerDefault {
        width: 690px;
        height: 330px;
        background-color: #ccc;
        margin-bottom: 50px;
    }

    .home_banner_swiper {
        width: 690px;
        height: 330px;
    }

    .slide_image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}