.locate_address {
    width: 100%;
    margin-top: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 32px;
        line-height: 32px;
        color: #333;
        margin-top: 20px;
        font-weight: 600;
    }

    .tishi {
        font-size: 30px;
        line-height: 30px;
        color: #999;
        margin-top: 20px;
    }
    .value {
        font-size: 30px;
        line-height: 30px;
        color: #333;
        margin-top: 20px;
    }

    .location {
        width: 200px;
        height: 80px;
        border: 1px solid #00D8A0;
        border-radius: 10px;
        font-size: 32px;
        line-height: 80px;
        color: #00D8A0;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}