.bbs_item {
    width: 100%;
    height: 200px;
    background-color: hotpink;
    margin-top: 20px;
}

.item_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item_user {
        display: flex;
        flex-direction: row;

        .user_avatar {
            width: 100px;
            height: 100px;
        }
        .user_avatar_default {
            width: 100px;
            height: 100px;
            background-color: gray;
        }

        .item_user_right {
            height: 100px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    
}