.activity_list {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .empty {
        width: 100%;
        height: 100vh;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .empty_txt {
            font-size: 30px;
            line-height: 30px;
            color: #666;
            margin-top: 10px;
        }
    }

    .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divider {
        margin-top: 10px;
    }
}